.starRatingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.starWrapper svg {
  width: 100%;
  height: 100%;
}