.menu {
  width: 100%;
  margin: auto;
}

.user_info {
  text-align: left;
  overflow: hidden;
  margin-bottom: 40px;
}
.user_info h4 {
  position: relative;
  padding-left: 20px;
}
.user_info span {
  color: #807d7e;
  font-size: 14px;
  font-weight: 400;
}
.user_info h4::after {
  content: "";
  position: absolute;
  width: 6px;
  border-radius: 12px;
  height: 28px;
  background-color: var(--primary);
  top: 0;
  left: 0;
}

.menu_list {
  text-align: left;
  padding: 10px 0px;
}

.menu_item {
  font-size: 16px;
}

.menu_item button {
  border: none;
  padding: 12px 12px 12px 40px;
  display: block;
  width: 100%;
  transition: background-color 0.4s;
  background: transparent;
  color: #807d7e;
  text-align: left;
  border-radius: 2px 6px 6px 2px;
  position: relative;
}
.menu_item button svg {
  margin-right: 16px;
}

.menu_item button:hover,
.menu_item button.active {
  background-color: white;
  color: #3c4242;
}
.menu_item button.active {
  border-left: 4px solid var(--primary);
}
.viewer {
  min-height: 85vh;
  height: 100%;
  padding: 10px;
  position: relative;
}

@media (max-width: 550px) {
  .viewer {
    min-height: 85vh;
    height: 100%;
    padding: 25px 0px;
  }
}

.filter_btn {
  display: none;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 11px;
  padding: 4px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  height: 55px;
  color: var(--primary_contrast);
  background: var(--primary);
  z-index: 1;
  width: 56px;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  left: 0px;
  top: 155px;
  transition: 0.3s all;
}

.header {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 19px;
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 280px;
  z-index: 1001;
  left: -280px;
  transition: 0.3s all;
}
.header svg {
  cursor: pointer;
}
.header * {
  margin: 0;
  line-height: 1;
}

.sidebar_top_scroll {
  top: 65px;
}

.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  left: 0px;
  padding: 0 0 1px;
  transition: 0.3s all;
}

.category_item {
  padding-top: 14px;
  padding-bottom: 0;
  border-bottom: 0;
}

.b_left {
  left: 280px;
}

.s_left {
  left: 0px !important;
}

@media (max-width: 991px) {
  .sidebar_top_normal,
  .sidebar_top_scroll {
    top: 63px;
  }
  .sidebar {
    z-index: 1000;
    left: -280px;
    width: 280px;
    min-width: 280px;
    height: calc(100vh - 124px);
    position: fixed;
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
  .filter_btn {
    display: flex;
  }
  .header {
    display: flex;
  }
  .user_info {
    padding: 10px;
  }
  .sidebar_inner {
    padding: 0 10px;
  }
  .content {
    width: 100%;
  }
}
