.container {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -129px;
  padding: 120px 0;
}
.back_container {
  display: none;
}
.card {
  width: 480px;
  border-radius: 24px;
  background: var(--bg-dark);
  display: flex;
  padding: 42px 0;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  z-index: 2;
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.logo h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.form {
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.input_container {
  border-radius: 12px;
  border: 1px solid #27223f;
  position: relative;
}
.input_container:first-of-type {
  border-radius: 12px 12px 0 0;
  border-bottom: none;
}
.input_container:last-of-type {
  border-radius: 0 0 12px 12px;
}
.input_container input {
  width: 100%;
  display: flex;
  border: none;
  height: 60px;
  padding: 11px 16px;
  align-items: center;
  background-color: transparent;
  color: #b4b4cc;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.btnVerify {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 6px;
  background: #221b37;
  display: flex;
  width: 135px;
  min-width: 100px;
  height: 38px;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #fff;
  border: none;
}
.btnVerifyId {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 44px;
  transform: none;
  border-radius: 0 0 12px 12px;
}

.checkbox_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 42px;
  padding-bottom: 42px;
}
.checkbox_container p {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 400;
  color: #fff;
}
.checkbox_container p span {
  color: #b4b4cc;
  font-size: 12px;
}
.checkbox_container p a {
  color: #fff;
  opacity: 0.8;
  text-decoration: underline;
}
.popupContainer {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: var(--bg-dark);
}
.popupTitle {
  font-weight: bold;
  margin-bottom: 12px;
  color: #fff;
  font-size: 20px;
}
.popupText {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}
.link_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 12px 0;
}
.link_container div {
  font-size: 20px;
  font-weight: 500;
  color: #b4b4cc;
  cursor: pointer;
}
.link_container div.active {
  color: #fff;
}
.link_container .divider {
  width: 1px;
  height: 16px;
  background: #27223f;
}
@media (max-width: 991px) {
  .back_container {
    display: block;
    padding: 15px 12px;
    border-bottom: 1px solid #27223f;
    background: var(--bg-dark);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
  }
  .back_container svg {
    fill: #fff;
    width: 50px;
    height: 50px;
  }
  .card {
    width: 686px;
  }
  .container {
    margin-bottom: -86px;
    margin-top: -97px;
  }
}

@media (max-width: 749px) {
  .back_container {
    padding: 8px 6px;
  }
  .back_container svg {
    fill: #fff;
    width: 34px;
    height: 34px;
  }
  .card {
    width: 100%;
  }
  .container {
    background: var(--bg-dark);
    margin-top: -97px;
    padding: 0;
  }
}
